body { 
    background:url(../img/paper-1217311_960_720.jpg) top no-repeat;
    background-size: auto;
    background-repeat: repeat;
    /*font-family: 'Italianno', cursive;*/
    font-family: 'Bilbo', cursive;
}
.all {
    display: none;
}
div {
    font-size: 20px;
}
p {
    padding-left: 30px;
    font-size: 30px;
    margin-top: 0px;
    margin-bottom: 10px;
}
h2 {
    color: green;
    text-decoration: underline;
    text-align: center;
    font-family: 'EB Garamond', serif;
}
.type {
    color: green;
    font-family: 'EB Garamond', serif;
    font-weight: 700;
    font-size: 27px;
    padding-left: 30px;
}
header {
    display: flex;
    justify-content: flex-start;
}
.index {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-left: 20px;
}
a:visited, a:link, a:active {
    text-decoration: none;
    color: white;
}
.sign-mid {
    font-family: 'Unna', serif;
    font-size: 40px;
    letter-spacing: 7px;
    height: 25px;
    color: white;
    text-shadow: black 0px 0px 1px,   black 0px 0px 1px,   black 0px 0px 1px,
                 black 0px 0px 1px,   black 0px 0px 1px,   black 0px 0px 1px;
    -webkit-font-smoothing: antialiased;
}
.sign {
    font-family: 'Monsieur La Doulaise', cursive;
    font-size: 30px;
    letter-spacing: 0px;
    color: black;
    padding-top: 15px;
}
.top {
    padding: 0px;
    height: 25px;
}
.bottom {
    padding: 0px;
    height: 25px;
}
.rosso {
    color: #cc0099;
}
.riserva {
    color: #6666ff;
}
.center p {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}