body { 
    background:url(../img/paper-1217311_960_720.jpg) top no-repeat;
    background-size: auto;
    background-repeat: repeat;
    font-family: 'EB Garamond', serif;
}
.dinner {
    display: none;
}
h2 {
    color: green;
    text-decoration: underline;
    text-align: center;
}
div {
    font-size: 20px;
}
header {
    display: flex;
    justify-content: flex-start;
}
.index {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-left: 20px;
}
a:visited, a:link, a:active {
    text-decoration: none;
    color: white;
}
.name {
    font-weight: 700;
}
.item{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-right: 20px;
}
.row {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-evenly;
}
#red {
    color: red;
}
.sign-mid {
    font-family: 'Unna', serif;
    font-size: 40px;
    letter-spacing: 7px;
    height: 25px;
    color: white;
    text-shadow: black 0px 0px 1px,   black 0px 0px 1px,   black 0px 0px 1px,
                 black 0px 0px 1px,   black 0px 0px 1px,   black 0px 0px 1px;
    -webkit-font-smoothing: antialiased;
}
.sign {
    font-family: 'Monsieur La Doulaise', cursive;
    font-size: 30px;
    letter-spacing: 0px;
    color: black;
    padding-top: 15px;
}
.top {
    padding: 0px;
    height: 25px;
}
.bottom {
    padding: 0px;
    height: 25px;
}